@charset "UTF-8";
/*!
 *  index.css
 *
 *  Jan 27 2022     Initial
 *  Jan 31 2022     Horizontal scroll, lost of image animation
 *  Feb 01 2022     Adjustments for iphone : flex work
 *  Feb 02 2022     Work on images selector
 *  Feb 03 2022     Work on images selector
 *  Feb 04 2022     Work on images selector
 *  Feb 18 2022     Start work on B3's requests
 *  Feb 22 2022     WIP on internationalization and knife detail box
 *  Feb 24 2022     WIP for gallery images presentation
 */
:root {
    --menu-background-color: darkcyan;
    --menu-text-color: white;
    --menu-underline: white;

    --text-color: black;
    --text-size: 14px;

    --button-border-color: black;
    --button-text-color: black;
    --button-hover-color: #f44336;
    --button-hover-text-color: white;
    --button-background-color: lightgray; 


    --product-background:lightgray;
    --product-border: black;
    --product-shadow: rgba(0, 0, 0,  0.4);
    --product-image-text-overlay: darkcyan;

    --site-hover-color: rgba(226, 0, 0 ,0.7);

    --contacts-text: white;
    --contacts-background: darkcyan;

    --footer-heart-color: #f44336; 
    
    --initial-photos-number:6;
}

/* -------------------------------------------------
    Basic elements
-------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x:hidden;
    max-width: 100%;
    height:auto!important;
}

html {
    font-size: 1rem;
    max-width: 100%;
}

h1 { 
    font-size: 3rem;
    font-weight: 600;
}
p {
    color: var(--text-color);
    font-size: var(--text-size);
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
button {
    border: 1px solid var(--button-border-color);
    background-color: var(--button-background-color);
    border-radius: 5px;
    padding: 12px 34px;
    font-size: 13px;
    cursor: pointer;
    margin-top: .5rem;
    margin-bottom: 1rem;
}

button:hover {
    color: var(--button-hover-text-color);
    border: 1px solid var(--button-hover-color);
    background: var(--button-hover-color);
    transition: 1s;
}

/* -------------------------------------------------
    Lines in the page 
-------------------------------------------------- */
.row {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}
.row.centered {
    justify-content: center;
}

/* -------------------------------------------------
    Menu 
-------------------------------------------------- */
.menu {
    position: fixed;
    height: 8rem;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-color: var(--menu-background-color);
    top: 0;
    left: 0;
    z-index: 100;
}
nav {
    display: flex;
    padding: 0.4rem 1rem 0 1rem;
    justify-content: space-between;
    align-items: center;
}
nav img {
    width: 90px;
}
.nav-links {
    text-align: right;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: var(--menu-underline);
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after {
    width: 100%;
}
.nav-links ul li a {
    color: var(--menu-text-color);
    text-decoration: none;
    font-size: 1rem;
}

nav .fa {
    display: none;
    color: var(--menu-text-color);
}
.copyright {
    position: absolute;
    top: .5rem;
    left: 7rem;
    color: #fff;
    font-size: 0.7rem;
    font-style: italic;
}

/* -------------------------------------------------
    URL like buttons 
-------------------------------------------------- */
.urlbutton {
    display: inline-block;
    text-decoration: none;
    color: var(--button-text-color);
    border: 1px solid var(--button-border-color);
    border-radius: 5px;
    padding: 12px 34px;
    font-size: 13px;
    background: var(--button-background-color);
    position: relative;
    cursor: pointer;
    margin-bottom: 1rem;
}
.urlbutton:hover {
    border: 1px solid var(--button-hover-color);
    color: var(--button-hover-text-color);
    background: var(--button-hover-color);
    transition: 1s;
}

/* -------------------------------------------------
  Informations display area 
-------------------------------------------------- */
.info {
    margin-top: 8rem;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    text-align: center;
    display: block;
}

.info h3 {
    font-size: 1rem;
    font-style: italic;
}
.info p {
    margin: 10px 0 20px;
}


/* -------------------------------------------------
     The products section 
------------------------------------------------- */
.products {
    max-width: 1500px;
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 1rem;
}
.products img {
    width: 90%;
    border-radius: 10px;
    margin: 5px 30px 5px 10px;
}
.products-gallery {
    display: flex;
}
.product {
    flex-basis: 32%;
    margin: 10px;
    position: relative;    
    border-radius: 10px;
    background-color: var(--product-background);
    border-bottom:  1px solid var(--product-border);
    transition: 0.5s;
}
.product h3 {
    margin: 1rem;
}
.product p {
    font-weight: 400;
}
.product:hover {
    box-shadow: 0 0 20px 0px ;
}

.product-desc {
    font-style: italic;
}

/* -------------------------------------------------
    Images selector 
-------------------------------------------------- */
.items {
    padding-top: 1rem;
    display: flex;
    flex-basis: 25%;
    flex-wrap: wrap;
    justify-content: space-around
}
.items span {
    margin: 3px;
    padding: 7px 25px;
    font-size: var(--text-color);
    font-weight: 500;
    cursor: pointer;
    color: var(--button-text-color);
    border-radius: 50px;
    border: 1px solid var(--button-border-color);
    transition: all 0.3s ease;
  }
  .items span.active,
  .items span:hover{
    color: #fff;
    background: var(--button-hover-color);
  }
  .hide {
      display: none;
  }
/* -------------------------------------------------
     The Gallery section 
------------------------------------------------- */
.gallery {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: center;
}

.gallery .image {
    position: relative;
    width: calc(100% /4);
    padding: 7px;
    border: #f44336 1px solid;
}

.gallery .image img {
    vertical-align: middle;
    transition: all 1s ease;
    border-radius: 10px;
}

.gallery .image:hover img {
    transform: scale(1.2);
}

.gallery .image:hover img ~ .knifelabel {
    display: block;
    opacity: 60%;
    background-color: var(--product-image-text-overlay);
}

.gallery .image p {
    font-size: 1.5vw;
}
.gallery .image .hide {
    display: none;
}

.gallery .image .show {
    animation: animate 2s ease;
}

.knifelabel {
    position: absolute;
    display: none;
    font-weight: 500;
    color: white;
    top: 30%;
    left: 20%;
    width: auto;
    background: transparent;
    border-radius: 10px;
}

@keyframes animate {
    0% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}

/* -------------------------------------------------
    The contacts section 
------------------------------------------------- */
.contacts {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 10px;
}

.contacts p {
    margin: 10px 0 20px;
    font-size: 14px;
    color: var(--contacts-text);
    background-color: var(--contacts-background);
    border-radius: 10px;
}

/* 
    Footer section 
*/
.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4 {
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.fa-heart-o {
    color: var(--footer-heart-color);
}

/* -------------------------------------------------
    Photo preview
------------------------------------------------- */
.preview-box{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    background: #fff;
    max-width: 700px;
    width: 100%;
    z-index: 120;
    opacity: 0;
    pointer-events: none;
    border-radius: 3px;
    padding: 0 5px 5px 5px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
  }
  .preview-box.show{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
    transition: all 2s ease;
  }
  .preview-box .details{
    padding: 13px 15px 13px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .details .title{
    display: flex;
    font-weight: 400;
  }
  .details .title p{
    font-weight: 500;
    font-size: 24px;
    margin-left: 10px;
  }
  .details .icon{
    color: #007bff;
    font-size: 24px;
    cursor: pointer;
    margin-right: 40px;
  }
  .preview-box .image-box{
    width: 100%;
    display: flex;
  }
  .image-box img{
    width: 100%;
    border-radius: 0 0 3px 3px;
  }
  .knifedetails {
      margin-top: 1rem;
      border: 1px solid black;
  }
  .dimensions, .manche {
      text-align: center;
      font-style: italic;
      padding: .2rem;
  }
  .shadow{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 110;
    display: none;
    background: rgba(0,0,0,0.4);
  }
  .shadow.show{
    display: block;
  }
  


/* --------------------------------------------------------------------------------------
    Reactive section
    Lower menu title font size and 
    change menu links presentation
---------------------------------------------------------------------------------------- */
@media(max-width: 590px) {
    .menu {
        height: 6rem;
    }
    .copyright {
        position: absolute;
        top: .5rem;
        left: 6rem;
        }
    h1 {
        font-size: 2rem;
    }
    .info {
        margin-top: 6rem;
    }
    .info h3 {
        font-size: .8rem;
        font-style: italic;
    }
    .info a {
        display: none;
    }
    .nav-links ul li {
        display: block;
    }
    .nav-links {
        position: absolute;
        background: var(--menu-background-color);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa {
        display: block;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    nav img {
        width: 70px;
    }
    .nav-links ul {
        padding: 30px;
    }
    .shops-gallery {
        flex-direction: column;
    }
    .shops img {
        height: 30vh;
    }
        .products-gallery {
        flex-direction: column;
    }
    .contacts p {
        font-size: 12px;
    }
    .footer p {
        font-size: var(--text-size);
        line-height: 0.8rem;
    }
}
