#
# Yves : 2022 07 09     Some tests
#
#     Exclude files with a 2, 3 or 4 file extension alpha char
#
RewriteEngine On
# This condition test if the file physically exists
# If yes serve it
RewriteCond %{REQUEST_FILENAME} !-f
# This condition tests if the file has a .css extension
RewriteCond %{REQUEST_URI} !\.css$ [NC]
RewriteCond %{REQUEST_URI} !\.png$ [NC]
RewriteCond %{REQUEST_URI} !\.jpg$ [NC]
RewriteCond %{REQUEST_URI} !\.json$ [NC]
RewriteRule ^(.*)$ index.php

<Files *.json>					# Prevent client to upload your json files
      Order deny,allow
      Deny from all
      allow from 127.0.0.1 ::1
</Files>
